$font-poppins: 'Poppins', sans-serif;
$font-inter: 'Inter', sans-serif;

$font-size-16: 16px;
$font-size-18: 18px;
$font-size-43: 43px;
$font-size-42: 42px;
$font-size-60: 60px;

$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
