// * Display
$display-none: none;
$display-block: block;

// * Padding
$padding-10: 10px;

// * Margin

// * Direction
$flex-col-rev: column-reverse;
$flex-col: column;

// * Text align
$text-align-center: center;
