// * Colors

$color-white: white;
$navbar-button-color: #47c4c0;
$color-blue: #6990ff;
$color-gray: #6b6b6b;
$img-back: #e8e0e9;
$center-content-p: #52c8c4;

$card-heading: #1c2528;

$footer-back: #1c2528;
